{% load static %}

<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-3 col-12-medium">
                <div style="position: relative; display: inline-block;">
                    <!-- <img src="{% static 'images/cskim.jpg' %}" alt="Banner Image" style="width:100%; height:auto;">
                    <p style="font-size:8pt; position: absolute; bottom: 10px; left: 10px; background-color: rgba(255, 255, 255, 0.7); padding: 5px;"><b>Prof. Chang-Soo Kim</b></p> -->
                </div>
            </div>

            <div class="col-4 col-12-medium;">
                <h2>Prof. Chang-Soo Kim</h2>
                <p style="font-size:large;float:left">Professor in the Department of Information Systems at Pukyong National University</p>

            </div>
            <div class="col-5 col-12-medium">
                <ul>
                    <li><a href="#" class="button large icon solid fa-arrow-circle-right">Ok let's go</a></li>
                    <li><a href="#" class="button alt large icon solid fa-question-circle">More info</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="features-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-4 col-12-medium">

                <!-- Box -->
                    <section class="box feature">
                        <a href="#" class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>Put something here</h2>
                                <p>Maybe here as well I think</p>
                            </header>
                            <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                        </div>
                    </section>

            </div>
            <div class="col-4 col-12-medium">

                <!-- Box -->
                    <section class="box feature">
                        <a href="#" class="image featured"><img src="{% static 'images/pic02.jpg' %}" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>An interesting title</h2>
                                <p>This is also an interesting subtitle</p>
                            </header>
                            <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                        </div>
                    </section>

            </div>
            <div class="col-4 col-12-medium">

                <!-- Box -->
                    <section class="box feature">
                        <a href="#" class="image featured"><img src="{% static 'images/pic03.jpg' %}" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>Oh, and finally ...</h2>
                                <p>Here's another intriguing subtitle</p>
                            </header>
                            <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                        </div>
                    </section>

            </div>
        </div>
    </div>
</div>