{% load static %}

<!-- Top Navigation -->
  <nav class="top-nav">
    <div class="logo">UPSIL (u-IT Urban Disaster Prevention & Spatial Information) LAB</div>
    <div class="nav-menu">
      <button class="nav-button active" onclick="switchPage(0)">Home</button>
      <button class="nav-button" onclick="switchPage(1)">Login/Register</button>
      <!-- <button class="nav-button" onclick="switchPage(2)">Services</button> -->
      <!-- <button class="nav-button" onclick="switchPage(3)"></button> -->
    </div>
  </nav>

   <!-- Autoplay Controls -->
  <div class="autoplay-controls">
    <button id="autoplay-toggle" class="autoplay-toggle" onclick="toggleAutoplay()" title="Toggle All Animations">⏸ All</button>
  </div>