<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
      <!-- Logo Header -->
      <div class="logo-header" data-background-color="dark">
        <a href="index.html" class="logo">
          <img
            src="assets/img/kaiadmin/logo_light.svg"
            alt="navbar brand"
            class="navbar-brand"
            height="20"
          />
        </a>
        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button>
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>
      </div>
      <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
      <div class="sidebar-content">
        <ul class="nav nav-secondary">
          <li class="nav-item active">
            <a
              data-bs-toggle="collapse"
              href="#dashboard"
              class="collapsed"
              aria-expanded="false"
            >
              <i class="fas fa-home"></i>
              <p>Dashboard</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="dashboard">
              <ul class="nav nav-collapse">
                <li>
                  <a href="../demo1/index.html">
                    <span class="sub-item">Dashboard 1</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Components</h4>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#base">
              <i class="fas fa-layer-group"></i>
              <p>Monitoring System</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="base">
              <ul class="nav nav-collapse">
                <li>
                  <a href="#" data-content="iaq-sensor">
                    <span class="sub-item">Indoor Air Quality</span>
                  </a>
                </li>
                <li>
                  <a href="#" data-content="arduino-sensors">
                    <span class="sub-item">Arduino Sensors</span>
                  </a>
                </li>
                <li>
                  <a href="#" data-content="buildthing-sensor">
                    <span class="sub-item">Buildthing Sensor</span>
                  </a>
                </li>
            
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#sidebarLayouts">
              <i class="fas fa-th-list"></i>
              <p>Scheduling</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="sidebarLayouts">
              <ul class="nav nav-collapse">
                <li>
                  <a href="#" data-content="job-shop-scheduling">
                    <span class="sub-item">Job Shop Scheduling</span>
                  </a>
                </li>
                <li>
                  <a href="#" data-content="routing">
                    <span class="sub-item">Routing</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#forms">
              <i class="fas fa-pen-square"></i>
              <p>Tourism</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="forms">
              <ul class="nav nav-collapse">
                <li>
                  <a href="#" data-content="busan-tourism">
                    <span class="sub-item">Busan Tourism</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#tables">
              <i class="fas fa-table"></i>
              <p>Medical Anaysis</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav nav-collapse">
                <li>
                  <a href="#" data-content="medical-analysis">
                    <span class="sub-item">3D DNA / RNA</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#maps">
              <i class="fas fa-map-marker-alt"></i>
              <p>Image Processing</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="maps">
              <ul class="nav nav-collapse">
                <li>
                  <a href="#" data-content="handwriting-processing">
                    <span class="sub-item">Handwriting Recognition</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#lighting">
              <i class="fas fa-lightbulb"></i>
              <p>Smart Lighting</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="lighting">
              <ul class="nav nav-collapse">
                <li>
                  <a href="" data-content="smart-lighting">
                    <span class="sub-item">Sensor Monitoring</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#quantum">
              <i class="fas fa-atom"></i>
              <p>Quantum Computing</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="quantum">
              <ul class="nav nav-collapse">
                <li>
                  <a href="" data-content="smart-lighting">
                    <span class="sub-item">Quantum Machine Learning</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
         </ul>
      </div>
    </div>
  </div>